.Settings {
	display: flex;
}

.SettingsWrapper {
	flex: 9;
	padding: 20px;
}

.SettingsTitle {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.SettingsUpdateTitle {
	font-size: 30px;
	margin-bottom: 20px;
	color: lightcoral;
}

.SettingsDeleteTitle {
	display: block;
	padding: 10px;

	color: white;
	background-color: rgb(255, 28, 28);
	

	font-size: 14px;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.3s;
}

.SettingsDeleteTitle:hover{
	color: rgb(255, 28, 28);
	background-color: white;
	/* box-shadow: 5px 5px 7px -5px rgba(0,0,0,0.4); */
	border-radius: 5px;
}



.SettingsForm {
	display: flex;
	flex-direction: column;

}

.SettingsPP {
	display: flex;
	align-items: center;
	margin: 10px 0;

} 

.SettingsPP-img {
	width: 70px;
	height: 70px;
	border-radius: 20px;
	object-fit: cover;
}

.SettingsPPIcon {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: lightcoral;
	color: white;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	
	cursor: pointer;
}

.SettingsForm > label {
	font-size: 20px;

	margin-top: 20px;
}

.SettingsForm > input {
	color: gray;
	margin-top: 10px 0;
	height: 30px;

	border: none;
	border-bottom: 1px solid lightgray;
}

.SettingsForm > input:focus {
	outline: none;
}

.SettingsSubmit {
	width: 100%;
	align-self: center;

	border: none;
	border-radius: 10px;
	
	background-color: teal;
	color: white;

	padding: 10px;
	margin-top: 20px;

	font-size: 16px;

	cursor: pointer;
	transition: background 0.4s;
}

.SettingsSubmit:hover {
	background-color: rgb(7, 65, 65);

}